@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100vh;
}

body {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Scrollbar styles */
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px !important; /* Made slightly wider for easier grabbing */
    height: 10px !important;
}

::-webkit-scrollbar-track {
    background: #555 !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: #121212 !important;
    border-radius: 5px !important;
    border: 2px solid #555 !important; /* Added border for better visibility */
    min-height: 40px !important; /* Minimum height to ensure grabbable area */
}

::-webkit-scrollbar-thumb:hover {
    background: #242424 !important;
    cursor: pointer !important;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #121212 #555;
}